<div class="filter-div" style="height: 270px; margin-bottom: 10px;">
<div style="margin-left: 227px;">
    <app-rental-point-filtration *ngIf="rpFiltrationModel" (onFiltered)="onFiltered($event)" [rpFiltrationModel]="rpFiltrationModel"></app-rental-point-filtration>
    <app-rental-point-filtration *ngIf="!rpFiltrationModel" (onFiltered)="onFiltered($event)"></app-rental-point-filtration>
</div>
</div>
<div class="d-flex flex-row rp_list">
        <div> 
            <div class="overflow-auto" style="height: 640px; margin-bottom: 10px;">
                <div *ngIf="rentalPoints.length > 0 && !spinner">
                    <div *ngFor="let rp of rentalPoints" style="width: 300px;">
                        <div class="card" style="margin-right: 10px; margin-bottom: 10px;">
                            <h3 class="card-header">
                                Address: {{rp.address}}
                            </h3>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <svg style="padding-bottom: 3px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                                    </svg>
                                    {{rp.country}}, {{rp.city}}
                                </li>
                            </ul>
                            <div class="card-body">
                                <h2 class="card-title">
                                    Title: {{rp.title}}
                                </h2>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li>
                                    <div style="box-sizing: border-box">
                                        <button (click)="showCars(rp.id)" class="btn info-button" style="width: 100%; height: 100%;border-radius: 0;">
                                            View all cars
                                        </button>
                                        <button *ngIf="isAdmin()" (click)="updateRentalPoint(rp.id)"  class="btn update-button" style="width: 100%; height: 100%; border-radius: 0;">
                                            Update rental point
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- <div class="d-flex flex-row">
                            <div style="width: 150px;">
                                <p>Country: {{rp.country}}</p>
                                <p>City: {{rp.city}}</p>
                                <p>Address: {{rp.address}}</p>
                                <p>Title: {{rp.title}}</p>
                            </div>
                            <div style="margin-left: 20px; width: 150px;">
                                <button (click)="showCars(rp.id)" type="button" class="btn btn-primary" style="width: 80px; margin-bottom: 30px; margin-top: 4px;">Cars</button>
                                <button *ngIf="isAdmin()" (click)="updateRentalPoint(rp.id)" type="button" class="btn btn-warning" style="width: 80px;">Update</button>
                                <button *ngIf="isAdmin()" (click)="deleteRentalPoint(rp.id)" type="button" class="btn btn-danger" style="width: 80px; margin-top: 30px;">Delete</button>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div *ngIf="rentalPoints.length === 0 && !spinner" style="width: 300px;">
                    No rental points were found for the specified parameters. Try changing the time range or location.
                </div>
                <div *ngIf="spinner" style="width: 300px;" class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                    </div>
                </div>
            </div>
            <button *ngIf="isAdmin()" (click)="addRentalPoint()" class="btn add-button btn-light">
                Add rental point
            </button>
        </div>
    <div style="width: 900px; margin-left: 30px;">
        <div #mapContainer id="map" class="map">

        </div>
    </div>
</div>
<br>