<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" style="justify-content: space-between;" id="navbarTogglerDemo01">
    <div class="d-flex">
      <a [routerLink]="['/rider']" routerLinkActive="router-link-active" class="navbar-brand active">Rider</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a *ngIf="isAdmin()" [routerLink]="['/rentalPoints']" routerLinkActive="router-link-active" class="nav-link active">Rental points</a>
        </li>
        <li *ngIf="showManagementButton()" class="nav-item">
          <a [routerLink]="['/management']" routerLinkActive="router-link-active" class="nav-link active">Management</a>
        </li>
      </ul>
    </div>
      <div class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li *ngIf="!isLogin()" class="nav-item">
              <a (click)="showLoginModal()" class="nav-link active" style="cursor: pointer;">Login</a>                                
            </li>
            <li *ngIf="!isLogin()" class="nav-item">
                <a (click)="showRegisterModal()" style="cursor: pointer;" class="nav-link active">Sign up</a>                                
            </li>
            <li *ngIf="isLogin()" class="nav-item">
                <a (click)="logOut()" class="nav-link active" style="cursor: pointer;">Log out</a>                                
            </li>
        </ul>
      </div>
    </div>
  </div>
</nav>