<div>
    <header class="d-flex flex-row-reverse">
        <div *ngIf="isLogin()">
            <a [routerLink]="['/login']" routerLinkActive="router-link-active" (click)="logOut()" class="header_a p-2 signup_a">Log out</a>
        </div>
        <div *ngIf="!isLogin()">
            <a [routerLink]="['/register']" routerLinkActive="router-link-active"  class="header_a p-2 signup_a">Sign Up</a>
        </div>
        <div *ngIf="!isLogin()">    
            <a [routerLink]="['/login']" routerLinkActive="router-link-active"  class="header_a p-2 login_a">Login</a>
        </div>
        <app-management-button *ngIf="showManagementButton()"></app-management-button>
        <div>
            <a [routerLink]="['/cars']" routerLinkActive="router-link-active" class="header_a">Cars</a>
        </div>
    </header>
</div>