<form [formGroup]="carForm">
  <div class="row">
    <div class="col-md-3">
      <label class="form-label">Brand*</label>
      <input formControlName="brand" type="text" class="form-control">
    </div>
    <div class="col-md-3">
      <label for="validationCustom02" class="form-label">Model*</label>
      <input formControlName="model" type="text" class="form-control">
    </div>
    <div class="col-md-3">
      <label class="form-label">Price for one day*</label>
      <div class="input-group">
        <span class="input-group-text">Format: dd.dd</span>
        <span class="input-group-text">br</span>
        <input formControlName="pricePerDay" type="text" class="form-control" placeholder="50.00">
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3">
      <label class="form-label">Fuel consumption*</label>
      <div class="input-group">
        <span class="input-group-text">Format: dd.dd</span>
        <span class="input-group-text">100 km</span>
        <input formControlName="fuelConsumptionPerHundredKilometers" type="text" class="form-control" placeholder="6.5">
      </div>
    </div>
    <div class="col-md-2">
      <label class="form-label">Number of seats*</label>
      <select formControlName="numberOfSeats" class="form-control" value="2">
        <option value="2">2</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
      </select>
    </div>
    <div class="col-md-2">
      <label class="form-label">Transmission</label>
      <select formControlName="transmissionType" class="form-control">
        <option value="Mechanic">Mechanic</option>
        <option value="Automate">Automate</option>
        <option value="Robotic">Robotic</option>
        <option value="Variative">Variative</option>
      </select>
    </div>
    <div class="col-md-2">
      <label class="form-label">Color</label>
      <input formControlName="color" type="text" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <label class="form-lable">Rental point*</label>
      <select id="rentalPointSelect" formControlName="rentalPointId" class="form-control">
        
      </select>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-5">
      <label class="form-label">Example textarea</label>
      <textarea formControlName="description" class="form-control" style="height: 100px;" ></textarea>
    </div>
  </div>
  <br>
  <div class="car_image_div">
    <label class="form-label">Image*</label>
    <img id="carImg" class="car_image" [src]="imageUrl">
  </div>
  <div class="row">
    <div class="col-md-4">
      <input
        (change)="onImageSelected($event)"
        formControlName="image"
        type="file"
        accept="image/png, image/jpeg">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3">
      <label class="form-label">Picture short name*</label>
      <input formControlName="pictureShortName" type="text" class="form-control">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <button (click)="addCar()" type="submit" class="btn">Add car</button>
    </div>
  </div>
</form>