<div class="modal-header">
    <h4 class="modal-title">
        User profile
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form *ngIf="userForm" [formGroup]="userForm" style="margin-left: 60px; margin-bottom: 30px;">
    <div class="row">
        <div class="col-md-5">
            <label class="form-lable">Name:</label>
            <input formControlName="name" type="text" class="form-control">
            <small style="color: red;" *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched">Invalid name</small>
        </div>
        <div class="col-md-5">
            <label class="form-lable">Surname:</label>
            <input formControlName="surname" type="text" class="form-control">
            <small style="color: red;" *ngIf="userForm.get('surname')?.invalid && userForm.get('surname')?.touched">Invalid surname</small>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-5">
            <label class="form-lable">Email:</label>
            <input formControlName="email" type="text" class="form-control">
            <small style="color: red;" *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">Invalid email</small>
        </div>
        <div class="col-md-5" *ngIf="addingUser">
            <label class="form-lable">Password:</label>
            <input formControlName="password" type="password" class="form-control">
            <small style="color: red;" *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched">Invalid password</small>
        </div>
    </div>
    <br>
    <h4>Roles:</h4>
    <div *ngIf="!addingUser">
        <div class="form-check" *ngFor="let role of roles; let i = index">
            <input (change)="changeRole($event)" class="form-check-input" type="radio" name="exampleRadios" value="{{role.title}}" [checked]="isUserInRole(role)">
            <label class="form-check-label">
                {{role.title}}
            </label>
        </div>
    </div>

    <div *ngIf="addingUser">
        <div class="form-check" *ngFor="let role of roles; let i = index">
            <input (change)="changeRole($event)" class="form-check-input" type="radio" name="exampleRadios" value="{{role.title}}" [checked]="true">
            <label class="form-check-label">
                {{role.title}}
            </label>
        </div>
    </div>

    <br>
    <button *ngIf="!addingUser" [disabled]="userForm.invalid" (click)="saveUser()" class="btn btn-warning" style="width: 100px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
          </svg>
    </button>

    <button *ngIf="addingUser" [disabled]="userForm.invalid" (click)="saveUser()" class="btn btn-primary" style="width: 100px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
          </svg>
    </button>
</form>
