<div class="d-flex flex-row">
    <div *ngFor="let item of getArray(); let index = index">
        <div (click)="onGradeSelected(index + 1)">
            <!-- rated -->
            <img *ngIf="grade >= index + 1" src="https://img.icons8.com/emoji/48/000000/star-emoji.png"/>
            <!-- <img *ngIf="grade >= index + 1" src="https://img.icons8.com/ios-glyphs/48/000000/star--v1.png"/> -->
            <!-- not rated -->
            <img *ngIf="!(grade >= index + 1)" src="https://img.icons8.com/ios/48/000000/star--v1.png"/>
        </div>
    </div>
    <div class="align-self-center" (click)="onGradeCancel()">
        <img src="https://img.icons8.com/material-two-tone/24/000000/cancel--v1.png"/>
    </div>
</div>