<form *ngIf="filtrationForm" [formGroup]="filtrationForm">
    <div class="form-row">
        <div class="col-md-4 mb3">
            <input (dateTimeChange)="c($event)" formControlName="range" [owlDateTimeTrigger]="dt10" class="form-control" [owlDateTime]="dt10"
            [selectMode]="'range'" placeholder="Choode date time range">
            <owl-date-time #dt10></owl-date-time>
        </div>
        <div class="col-md-4 mb3">
            <input formControlName="numberOfAvaliableCars" class="form-control" type="text" placeholder="Number of avaliable cars">
        </div>
    </div>
    <br>
    <div class="form-row">
        <div class="col-md-4 mb3">
            <label class="form-lable">
                Country
            </label>
            <select (change)="onCountrySelected($event)" formControlName="countryId" class="form-control">
                <option value="">

                </option>
                <option *ngFor="let country of countries" [value]="country.id">
                    {{country.title}}
                </option>
            </select>
        </div>
        <div class="col-md-4 mb3">
            <label class="form-lable">
                City
            </label>
            <select formControlName="cityId" class="form-control">
                <option value="">
                    
                </option>
                <option *ngFor="let city of cities" [value]="city.id">
                    {{city.title}}
                </option>
            </select>
        </div>
    </div>
    <br>
    <button (click)="filter()" class="btn btn-primary">
        Filter
    </button>
</form>