<div class="d-flex flex-row rp_list">   
    <div class="overflow-auto">
        <div *ngFor="let rp of rentalPoints">
        <div class="d-flex flex-row">
            <div style="width: 150px;">
                <p>Country: {{rp.country}}</p>
                <p>City: {{rp.city}}</p>
                <p>Address: {{rp.address}}</p>
                <p>Title: {{rp.title}}</p>
            </div>
            <div style="margin-left: 20px; width: 150px;">
                <button type="button" class="btn btn-warning" style="width: 100px;">Update</button>
                <button (click)="deleteRentalPoint(rp.id)" type="button" class="btn btn-danger" style="width: 100px; margin-top: 30px;">Delete</button>
            </div>
        </div>
        <hr>
        <br>
        </div>
    </div>
    <div style="width: 870px;margin-left: 30px;">
        <div #mapContainer id="map"></div>
    </div>
</div>
<br>
