<div class="car_item_div d-flex flex-row">
    <div class="car_image_div p-2">
        <img class="car_image rounded" #img>
    </div>
    <div class="car_info p-2">
        <h4>{{car.carBrand}}</h4>
        <p>{{car.numberOfSeats}} seats</p>
        <button type="button" class="btn btn-primary" (click)="showDetails()" >See deatils</button>
        <div style="width: 100px;">
            <hr>
        </div>
        <p>Some description lalala, good car - book it. It will be best trevel in life!!! Forgot to say - cs:go is very good game</p>
    </div>
    <div class="car_price">
        <h4>br {{car.pricePerDay.toFixed(2)}} | day</h4>
        <p>excl. coverage, delivery, tax</p>
        <button *ngIf="isAdmin()" type="button" class="btn btn-danger" (click)="deleteCar()">Delete car</button>
    </div>
</div>