<div class="main-div d-flex justify-content-between">
    <div style="width: 600px;">
        <h1 style="font-size: 40px; font-family: 'Poppins', sans-serif; font-weight: bold; line-height: 55px;">
            The best way to get a car is used our web application
        </h1>
        <p style="margin-top: 20px; font-size: 20px; font-family: 'Poppins', sans-serif; font-weight: light;">
            Enter the time range for booking a car
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
            </svg>
        </p>
    </div>
    <div style="width: 600px;">
        <img src="/assets/img/main.png">
    </div>
</div>
<div style="margin-left: 227px;">
    <app-rental-point-filtration (onFiltered)="onFiltered($event)"></app-rental-point-filtration>
</div>