@import '~ng-pick-datetime/assets/style/picker.min.css';

.main_div{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

html, body { height: 100%;}

label{
    font-family: 'Poppins', sans-serif; font-weight: light;
}

div {
    font-family: 'Poppins', sans-serif; font-weight: light;
}

.map {
    border-radius: 5px;
}

.info-button {
    background-color: rgba(37, 91, 190, 0.63);
}

.update-button {
    background-color: rgba(217, 238, 96, 0.63);
}

.delete-button {
    background-color: #eb433b;
}

.error {
    background-color: #eb433b;
}

small {
    color: #bf1515;
}