<br>
<div class="d-flex justify-content-start">
  <div>
    <app-car-filtration (onFiltered)="onFiltered($event)"></app-car-filtration>
  </div>
  <div *ngIf="canPaginate && bookings.length > 0" style="width: 950px;">
    <div *ngFor="let booking of bookings | paginate: { itemsPerPage: 2, currentPage: currentPageNumber, totalItems: itemsTotalCount }">
          <app-booking-card (onDelete)="deleteBooking($event)" [booking]="booking"></app-booking-card>
          <br>
    </div>
    <div class="d-flex justify-content-center">
      <pagination-controls [autoHide]="true" 
          (pageChange)="getPage(currentPageNumber = $event)"></pagination-controls>
      </div>
  </div>
</div>