<br>

<div class="d-flex justify-content-start">
  <div>
    <app-car-filtration (onFiltered)="onFiltered($event)"></app-car-filtration>
  </div>
  <div *ngIf="bookings" style="width: 950px;">
    <div *ngFor="let booking of bookings">
        <div class="card">
            <div class="card-header">
              Booking time: {{booking.bookingTime}}
            </div>
            <div class="card-body">
              <h5 class="card-title">{{booking.keyReceivingTime}} - {{booking.keyHandOverTime}}</h5>
              <p class="card-text">{{booking.brand}} {{booking.model}}</p>
              <a class="btn btn-danger">Cancel</a>
            </div>
          </div>
    </div>
  </div>
</div>