<div>
    <button [routerLink]="['/addCar']" routerLinkActive="router-link-active" *ngIf="isAdmin()" type="button" class="btn btn-success">Add car</button>
    <form [formGroup]="filterForm">
        <br>
        <div class="form-row">
            <div class="col-md-4 mb3">
                <input formControlName="range" [owlDateTimeTrigger]="dt10" class="form-control" [owlDateTime]="dt10"
                [selectMode]="'range'" placeholder="Choode date time range">
                <owl-date-time #dt10></owl-date-time>
                <small style="color: red;" *ngIf="!isValidRangeInput() && filterForm.get('range')?.touched">Enter correct time range</small>
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col-md-4 mb3">
                <input type="text" formControlName="brand" class="form-control" placeholder="Brand">
            </div>
            <br>
            <div class="col-md-4 mb3">
                <input type="text" formControlName="color" class="form-control" placeholder="Color">
            </div>
            <br>
        </div>
        <br>
        <div class="form-row">
            <div class="col-md-4 mb3">
                <input type="text" formControlName="minPricePerDay" class="form-control" placeholder="Min price of day">
            </div>
            <div class="col-md-4 mb3">
                <input type="text" formControlName="maxPricePerDay" class="form-control" placeholder="Max price of day">
            </div>
            <div class="col-md-4 mb3">
                <button (click)="getPage(currentPageNumber)" [disabled]="!filterForm.valid || !isValidRangeInput()" class="btn btn-primary">Filter</button>
            </div>
        </div>
    </form>

    <br>

    <div *ngFor="let car of cars | paginate: { itemsPerPage: 3, currentPage: currentPageNumber, totalItems: itemsTotalCount }">
        <hr>
        <div class="car_item_div d-flex flex-row">
            <div class="car_image_div p-2">
                <app-car-image [carId]="car.id"></app-car-image>
            </div>
            <div class="car_info p-2">
                <h4>{{car.brand + ' ' + car.model}}</h4>
                <p>{{car.numberOfSeats}} seats</p>
                <button type="button" (click)="showDetails(car)" class="btn btn-primary" >See deatils</button>
                <div style="width: 100px;">
                    <hr>
                </div>
                <p>Some description lalala, good car - book it. It will be best trevel in life!!! Forgot to say - cs:go is very good game</p>
            </div>
            <div class="car_price">
                <h4>br {{car.pricePerDay.toFixed(2)}} | day</h4>
                <p>excl. coverage, delivery, tax</p>
                <button *ngIf="isLogin() && !isAdmin()" type="button" class="btn btn-primary"  (click)="showRentCarWindow(car)" style="width: 150px;">Rent car</button>
                <button *ngIf="isAdmin()" type="button" class="btn btn-warning" (click)="updateCar(car.id)" style="width: 150px;">Update car</button>
                <button *ngIf="isAdmin()" type="button" class="btn btn-danger" (click)="deleteCar(car.id)" style="width: 150px; margin-top: 30px;">Delete car</button>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center">
    <pagination-controls [autoHide]="true" 
        (pageChange)="getPage(currentPageNumber = $event)"></pagination-controls>
    </div>
</div>